#case-detail {
  padding-top: .55rem;
}

.header {
  width: 100%;
  height: 2.61rem;
  background: url('../images/case/success_case.png') no-repeat 0 0;
  background-size: 100%;
}
.content{
  padding: 0 .08rem;
}
