#case {
  padding-top: .57rem;
}

.header {
  width: 100%;
  height: 2.61rem;
  background: url('../images/case/success_case.png') no-repeat center center;
  background-size: 100%;
}
.tab_list {
  padding: 0 .1rem;
  overflow: hidden;
  margin: .39rem auto .3rem;
}
.tab_list li {
  width: 1.74rem;
  height: .46rem;
  line-height: .46rem;
  color: #fff;
  font-size: .15rem;
  text-align: center;
  background: #5A5A5A;
  margin-bottom: .09rem;
  font-weight: 100;
}
.tab_list li.active {
  background: #D70C19;
}
.tab_list li:nth-child(odd) {
  float: left;
}
.tab_list li:nth-child(even) {
  float: right;
}
.list_box {
  padding: 0 .1rem;
}
.list_box li {
  background: #eee;
  margin-bottom: .19rem;
}
.list_box li img {
  display: block;
}
.list_box li .time {
  font-size: .12rem;
  color: #999;
  height: .1rem;
  line-height: .1rem;
}
.list_box li .name {
  font-size: .15rem;
  color: #333;
  font-weight: normal;
  margin: .09rem 0 .18rem;
  height: .15rem;
  line-height: .15rem;
}
.list_box .desr {
  padding: .18rem .1rem .24rem;
}
.list_box li .bottom {
  overflow: hidden;
  color: #666;
  font-size: .14rem;
  height: .33rem;
}
.list_box li .bottom .left {
  position: relative;
  top: -.03rem;
}
.list_box li .bottom .right {
  width: .76rem;
  height: .27rem;
  line-height: .278rem;
  text-align: center;
  border: 1px solid #333;
  padding-left: .28rem;
  background: url('../images/case/add_icon.png') no-repeat 0.11rem 0.05rem;
  background-size: 16%;
  margin-top: .04rem;
}
.more {
  font-size: .18rem;
  color: #333;
  text-align: center;
  height: .48rem;
  line-height: .48rem;
  margin: .39rem auto;
}
.more span {
  display: inline-block;
  width: 1.2rem;
  height: .18rem;
  position: relative;
  top: .04rem;
  letter-spacing: -1px;
}
.more img {
  width: .53rem;
  height: .48rem;
  display: inline-block;
  vertical-align: middle;
}