body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    font-size: .15rem;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px   ;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #fff;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin: 0;
    font-family: 'Microsoft YaHei';
}
ul, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.position-re {
    position: relative;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

.border-no {
    border: none !important;
}

body{
    margin: 0;
    padding: 0;
    font-size: .15rem;
    font-weight: 400;
}

p, ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/*导航条*/
.navBar{
  height: .57rem;
  background: #191919;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.navBar .logo{
    width: .79rem;
    height: .26rem;
    margin: .15rem .1rem;
    float: left;
    display: block;
}
.navBar .nav{
  width: .22rem;
  height: .15rem;
  float: right;
  margin: .2rem .25rem;
  display: block;
  transition: .3s all ease;
}
.navBar ul{
  margin-top: .57rem;
  clear: both;
  transition: .3s all linear;
  overflow: hidden;
  height: 0;
}
.navBar ul li{
  background: #191919;
  line-height: .5rem;
  height: .5rem;
  font-size: .16rem;
  color: #FFFFFF;
  text-align: center;
  border-bottom: .01rem solid #353535;
}
.navBar ul li:last-child{
  border: none;
}