body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;
    font-family: Arial, "Microsoft YaHei", "微软雅黑";
    box-sizing: border-box;
    font-size: .15rem;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px   ;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
    background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 10px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin: 0;
    font-family: Arial, "Microsoft YaHei", "微软雅黑";
    -webkit-overflow-scrolling: auto;
}
ul, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
  position: relative;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-image{
    margin:.3rem 0 .4rem;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.position-re {
    position: relative;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

.border-no {
    border: none !important;
}

body{
    margin: 0;
    padding: 0;
    font-size: .15rem;
    font-weight: 400;
}

p, ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

.text-center{
  text-align: center;
}
/*导航条*/
.navBar{
  /*height: .57rem;*/
  background: #191919;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.navBar .logo{
    width: .79rem;
    height: .26rem;
    margin: .15rem .1rem;
    float: left;
    display: block;
}
.navBar .nav{
  width: .22rem;
  height: .15rem;
  float: right;
  margin: .2rem .25rem;
  display: block;
}
.navBar ul{
  margin-top: .57rem;
  clear: both;
  transition: .2s all linear;
  overflow: hidden;
  height: 0;
}
.navBar ul li{
  background: #191919;
  line-height: .5rem;
  height: .5rem;
  font-size: .16rem;
  color: #FFFFFF;
  text-align: center;
  border-bottom: .01rem solid #353535;
}
.navBar ul li.last{
  border: none;
}

/* footer */
.footer {
    color: #fff;
    height: 6.58rem;
    width: 100%;
    display: block;
    overflow: hidden;;
}
.footer .section1 {
    padding: .41rem 0 .4rem .1rem;
    background: #000;
    height: 4.1rem;
}
.footer .section1 .city {
    font-size: .16rem;
    height: .17rem;
    line-height: .17rem;
}
.footer .section1 .city span {
    color: #999;
    margin-left: .15rem;
}
.footer .section1 .address {
    color: #e0e0e0;
    font-size: .14rem;
    margin: .15rem 0 .31rem;
    height: .58rem;
}
.footer .section1 .address span {
    color: #999;
    font-size: .14rem;
}
.footer .section2 {
    background: #D70C19;
    padding: .4rem 0 .41rem;
    height: 2.05rem;
    text-align: center;
}
.footer .section2 .hot_tel_text {
    font-size: .15rem;
    height: .15rem;
    line-height: .15rem;
}
.footer .section2 .hot_tel_num {
    font-size: .26rem;
    height: .21rem;
    line-height: .21rem;
    margin: .2rem auto;
}
.footer .section2 .tip {
    font-size: .13rem;
    height: .13rem;
    line-height: .13rem;
}
.footer .section2 .title {
    font-size: .21rem;
    height: .21rem;
    line-height: .21rem;
    margin: .2rem auto .41rem;
}
.fixed .section3 {
    height: .46rem;
    line-height: .45rem;
    background: #CB0F1B;
    text-align: center;
    position: fixed;
    bottom: -.01rem;
    width: 100%;
    z-index: 99999;
}
.fixed .section3 li a{
    font-size: .12rem;
    color: #fff;
}
.fixed .section3 li{
    display: inline-block;
}
.fixed .section3 li.right {
    width: 44.8%;
}
.fixed .section3 li.right a {
    padding-left: .37rem;
    background: url(../images/footer/tel.png) no-repeat 0.1rem 0.1rem;
    background-size: 14.5%;
    display: block;
    color: #fff;
    font-size: .12rem;
}
.fixed .section3 .left {
    width: 55.2%;
    background: #000;
}
.fixed .section3 .left li {
    width: 33.33%;
    float: left;
    height: .46rem;
    line-height: .47rem;
}
.fixed .section3 .left li:nth-child(2) {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

/* 菜单切换 */
.tab_list {
    padding: 0 .1rem;
    overflow: hidden;
    margin: .39rem auto .3rem;
}
.tab_list li {
    width: 1.74rem;
    height: .46rem;
    line-height: .46rem;
    color: #fff;
    font-size: .15rem;
    text-align: center;
    background: #5A5A5A;
    margin-bottom: .09rem;
}
.tab_list li.active {
    background: #D70C19;
}
.tab_list li:nth-child(odd) {
    float: left;
}
.tab_list li:nth-child(even) {
    float: right;
}
