#customized {
    padding-top: .56rem;
  }
#customized .content {
    display: none;
}
.header {
    width: 100%;
    height: 2.61rem;
    background: url('../images/customized/customized.png') no-repeat center center;
    background-size: 100%;
}
.wine_cellar {
    overflow: hidden;
}
.exclusive {
    padding: 0 .09rem;
}
.exclusive .imgs {
    background: url('../images/customized/wine.png') no-repeat 0rem 0;
    background-size: 100%;
    width: 100%;
    height: 2.29rem;
}
.exclusive .imgs .right {
    width: 43%;
    padding-top: .6rem;
}
.exclusive .imgs .right p {
    font-size: .15rem;
    color: #666;
    line-height: .15rem;
    margin-bottom: .06rem;
}
.exclusive .imgs .right img {
    display: block;
}
.exclusive .imgs .right img:nth-child(2) {
    height:.08rem;
    width: 99%;
}
.exclusive .imgs .right img:nth-child(3) {
    margin-top: .25rem;
    height: .45rem;
}
.exclusive .red_title {
    font-size: .17rem;
    line-height: .17rem;
    color: #D70C19;
    margin-top: .25rem;
}
.exclusive .grey3_title {
    line-height: .16rem;
    font-size: .16rem;
    color: #333;
    margin-top: .19rem;
}
.line {
    background: #D70C19;
    width: .18rem;
    height: .02rem;
    margin: .1rem 0 .2rem;
}
.desr_text {
    font-size: .15rem;
    color: #666;
    line-height: 1.7;
    margin-bottom: .26rem;
    letter-spacing: -.15px;
}
.space {
    width: 100%;
    background: #eee url('../images/customized/space_selection.png') no-repeat 0.15rem .2rem;
    background-size: 93%;
    padding: .41rem .09rem;
}
.red_grey_title {
    font-size: .2rem;
    line-height: .2rem;
    color: #333;
}
.red_grey_title span {
    color: #D70C19;
    font-size: .2rem;
    line-height: .2rem;
}
.grey6_12_title {
    font-size: .12rem;
    line-height: .12rem;
    color: #666;
    padding: .1rem 0;
}
.space .tip {
    font-size: .14rem;
    line-height: .15rem;
    color: #D70C19;
    margin-top: -.1rem;
}
.solid_wood {
    padding: .4rem .09rem .12rem;
}
.solid_wood .imgs .left {
    width: 1.3rem;
    height: 1.57rem;
}
.solid_wood .imgs .right {
    width: 63%;
    padding-left: .15rem;
    padding-top: .05rem;    
}
.temperature {
    padding: .2rem 0.09rem .32rem;
    width: 100%;
    height: 100%;
    background: url('../images/customized/temperature_bg.png') no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
}
.temperature .left, .temperature .right {
    font-size: .14rem;
    line-height: .15rem;
    color: #666;
    margin-top: -.6rem;
}
.functional_design {
    padding: .4rem .09rem .3rem;
}
.functional_design ul {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    margin-top: .15rem;
}
.functional_design ul li {
    float: left;
    width: 1.15rem;
    height: .91rem;
    position: relative;
    margin-right: .06rem;
    margin-bottom: .09rem;
}
.functional_design ul li img {
    width: 100%;
}
.functional_design ul li p {
    font-size: .14rem;
    line-height: .15rem;
    color: #fff;
    position: absolute;
    bottom: .21rem;
    text-align: center;
    width: 100%;
}
.ecological_reduction {
    padding: .28rem .09rem .27rem;
    width: 100%;
    height: 2.51rem;
    background: #eee url('../images/customized/ecologic.png') no-repeat 0.09rem 0.28rem;
    background-size: 57%;
}
.ecological_reduction .title {
    margin: .33rem 0 .13rem .56rem;
}
.ecological_reduction .text {
    margin: .15rem 0 .13rem .56rem;
}
.art_accessories {
    overflow: hidden;
    padding: .31rem 0.09rem .37rem;
}
.art_accessories .imgs {
    overflow: hidden;
    position: relative;
}
.art_accessories .imgs .left {
    padding: .32rem 0 0 .21rem;
    background: #D70C19;
    width: 1.79rem;
    height: 1.23rem;
    position: absolute;
    color: #FFF;
    top: .22rem;
}
.art_accessories .imgs .right {
    width: 2.57rem;
    height: 1.72rem;
}
.strict_acceptance {
    padding: .3rem .09rem .08rem;
    background: #eee;
}
.art2 {
    width: 100%;
    height: 2.06rem;
    display: block;
}
.free_after_sale {
    padding: .68rem .09rem 0;
    margin-bottom: .4rem;
}
.wine_cabinet, .cigar_cellar, .art_accessories_box {
    padding: 0 .09rem;
}