#swiper1 .swiper-container {
  width: 100%;
  height: 4.17rem;
}
.introduce .swiper-container {
  width: 100%;
  height: 3.71rem;
}
.swiper-container .swiper-slide{
  position: relative;
  color: #fff;
}
#swiper1 .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: .2rem;
}
#swiper1 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  width: .12rem;
  height: .12rem;
  background: #fff;
  margin: 0 .06rem;
}
#swiper1 .swiper-container .swiper-slide div{
  position: relative;
  z-index: 2;
  padding-top: 1.4rem;
  text-align: center;
}
#swiper1 .swiper-container .swiper-slide div p:first-child{
  color: #F5F1F1;
  font-size: .21rem;
}
#swiper1 .swiper-container .swiper-slide div p:nth-child(2){
  color: #F5F1F1;
  font-size: .15rem;
  margin-top: .22rem;
  margin-bottom: .25rem;
}
#swiper1 .swiper-container .swiper-slide div p:last-child{
  color: #FFFFFF;
  font-size: .09rem;
  width: .92rem;
  height: .2rem;
  line-height: .2rem;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: .1rem;
}
#swiper1 .swiper-container .swiper-slide img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.home{
  padding-top: .55rem;
}
.custom ul{
  clear: both;
  padding: 0 .09rem;
}
.custom ul li{
  width: 50%;
  float: left;
  padding: .1rem .4rem;
  text-align: center;
  color: #333333;
}
.border-right{
  border-right: .01rem solid #EEEEEE;
}
.border-bottom{
  border-bottom: .01rem solid #EEEEEE;
}
.custom ul li img{
  width: .98rem;
}
.custom .title{
  width: 1.92rem;
  padding: .3rem 0 .1rem;
  margin: 0 auto;
  display: block;
}
.case .title{
  width: 2.37rem;
  padding: .4rem 0 .3rem;
  margin: 0 auto;
  display: block;
}
.part_title{
  padding-bottom: .1rem;
  position: relative;
  margin-bottom: .44rem;
  text-align: center;
  font-size: .2rem;
  color: #000000;
}
.part_title::after{
  content: '';
  width: .21rem;
  height: .02rem;
  background: #D70C19;
  position: absolute;
  bottom: 0;
  left: 1.78rem;
}
.case ul{
  padding: 0 .08rem;
  overflow: hidden;
}
.case ul li:nth-child(odd){
  float: left;
  width: 1.77rem;
  text-align: center;
  margin-bottom: .2rem;
}
.case ul li:nth-child(even){
  float: right;
  width: 1.77rem;
  text-align: center;
  margin-bottom: .2rem;
}
.case ul li p{
  color: #333333;
  font-size: .13rem;
  margin-top: .14rem;
}
.more_btn{
  border: .015rem solid #999999;
  background: none;
  width: .91rem;
  height: .35rem;
  line-height: .33rem;
  color: #333333;
  font-size: .14rem;
  margin: .4rem auto;
  display: block;
  text-align: center;
}
.introduce .swiper-container .swiper-slide .banner_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.introduce .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  width: .12rem;
  height: .12rem;
  background: #fff;
  margin: 0 .06rem;
}
.introduce .swiper-container .swiper-slide .text{
  position: relative;
  z-index: 2;
  padding-top: .45rem;
  text-align: center;
}
.introduce .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: .28rem;
}
.introduce .icon{
  width: .72rem;
}
.introduce .text p{
  width: 3rem;
  margin: .2rem auto;
  line-height: .3rem;
  color: #fff;
}
.introduce .text .btn{
  width: .91rem;
  height: .35rem;
  border: .015rem solid #ffffff80;
  line-height: .33rem;
  background: none;
  color: #fff;
  margin: 0 auto;
}
.news li{
  border-bottom: .01rem solid #EEEEEE;
  padding: 0 .09rem;
  margin-bottom: .24rem;
}
.news .title{
  width: 1.38rem;
  display: block;
  padding: .4rem 0 .1rem;
  margin: 0 auto;
}
.news .newImg{
  width: 100%;
  display: block;
  margin-bottom: .15rem;
}
.news .abstract{
  font-size: .16rem;
  color: #333333;
  margin-bottom: .15rem;
}
.news .describe{
  font-size: .13rem;
  color: #666666;
  margin-bottom: .06rem;
}
.news .dataTime .clock{
  float: left;
  width: .18rem;
}
.news .dataTime{
  overflow: hidden;
  padding-bottom: .14rem;
}
.news .dataTime span{
  float: left;
  color: #999999;
  font-size: .11rem;
  margin-left: .1rem;
  line-height: .18rem;
}
.news .dataTime .to_detail{
  float: right;
  width: .19rem;
}
.block_width{
  display: block;
  width: 100%
}
